@*
    File: Views/Shared/_Layout.cshtml
*@
<!DOCTYPE html>
<html class="h-full" data-theme="true" data-theme-mode="light" dir="ltr" lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
    <title>@ViewData["Title"] - Metronic Tailwind</title>

    <link rel="canonical" href="https://yourdomain.com" />
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="robots" content="follow, index" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Metronic - Tailwind CSS" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="~/metronic/assets/media/app/og-image.png" />
    <meta property="og:url" content="https://yourdomain.com" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Metronic - Tailwind CSS" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="~/metronic/assets/media/app/og-image.png" />

    <link rel="apple-touch-icon" sizes="180x180" href="~/metronic/assets/media/app/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/metronic/assets/media/app/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/metronic/assets/media/app/favicon-16x16.png" />
    <link rel="shortcut icon" href="~/metronic/assets/media/app/favicon.ico" />

    <link href="~/metronic/assets/media/app/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
    <link href="~/metronic/assets/media/app/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
    <link href="~/metronic/assets/media/app/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
    <link href="~/metronic/assets/media/app/favicon.ico" rel="shortcut icon" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link href="~/metronic/assets/vendors/apexcharts/apexcharts.css" rel="stylesheet" />
    <link href="~/metronic/assets/vendors/keenicons/styles.bundle.css" rel="stylesheet" />
    <link href="~/metronic/assets/css/styles.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)
</head>
<body class="antialiased flex h-full text-base text-gray-700 [--tw-page-bg:#fefefe] [--tw-page-bg-dark:var(--tw-coal-500)] demo1 sidebar-fixed header-fixed bg-[--tw-page-bg] dark:bg-[--tw-page-bg-dark]">
    <div class="flex grow">
    <!-- Sidebar -->
    @await Html.PartialAsync("_Sidebar")
    </div>
    <div class="wrapper flex grow flex-col">
    <!-- Header -->
    @await Html.PartialAsync("_Header")

    <!-- Main Content -->
    <main class="grow content pt-5" id="content" role="content">
        @RenderBody()
    </main>

    <!-- Footer -->
       @await Html.PartialAsync("_Footer")
    </div>

    <!-- Scripts -->

    <script src="~/metronic/assets/js/core.bundle.js">
    </script>
    <script src="~/metronic/assets/vendors/apexcharts/apexcharts.min.js">
    </script>
    <script src="~/metronic/assets/js/widgets/general.js">
    </script>
    <script src="~/metronic/assets/js/layouts/demo1.js">
    </script>

    <script src="~/js//site.js">
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>
