@model Credit_Management_System.ViewModels.Branch.BranchDetailVM

@{
    ViewData["Title"] = "Branch Details";
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="toolbar" id="kt_toolbar">
        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Branch Details</h1>
                <span class="h-20px border-gray-200 border-start mx-4"></span>
                <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                    <li class="breadcrumb-item text-muted">
                        <a asp-controller="Dashboard" asp-action="Index" class="text-muted text-hover-primary">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-200 w-5px h-2px"></span>
                    </li>
                    <li class="breadcrumb-item text-muted">
                        <a asp-controller="Branch" asp-action="Index" class="text-muted text-hover-primary">Branches</a>
                    </li>
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-200 w-5px h-2px"></span>
                    </li>
                    <li class="breadcrumb-item text-dark">Detail</li>
                </ul>
            </div>

            <div class="d-flex align-items-center gap-3">
                <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-sm btn-primary fw-bold px-6">
                    <i class="ki-outline ki-pencil fs-4 me-2"></i> Edit Branch
                </a>
                <a asp-action="Index" class="btn btn-sm btn-light-primary fw-bold px-6">
                    <i class="ki-outline ki-arrow-left fs-4 me-2"></i> Back to List
                </a>
            </div>
        </div>
    </div>
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <div class="container-xxl">
            <div class="card shadow-sm">
                <div class="card-body p-10">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="row mb-5">
                                <div class="col-sm-4 text-muted fw-bold fs-6">Branch Name:</div>
                                <div class="col-sm-8 text-dark fs-6 fw-semibold">@Model.Name</div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-sm-4 text-muted fw-bold fs-6">Address:</div>
                                <div class="col-sm-8 text-dark fs-6">@Model.Address</div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-sm-4 text-muted fw-bold fs-6">Phone Number:</div>
                                <div class="col-sm-8 text-dark fs-6">@Model.PhoneNumber</div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-sm-4 text-muted fw-bold fs-6">Merchant:</div>
                                <div class="col-sm-8 text-dark fs-6">@Model.MerchantName</div>
                            </div>

                            @if (Model.EmployeeCount.HasValue)
                            {
                                <div class="row mb-5">
                                    <div class="col-sm-4 text-muted fw-bold fs-6">Employees Count:</div>
                                    <div class="col-sm-8 text-dark fs-6">@Model.EmployeeCount</div>
                                </div>
                            }
                            @if (Model.ProductCount.HasValue)
                            {
                                <div class="row mb-5">
                                    <div class="col-sm-4 text-muted fw-bold fs-6">Products Count:</div>
                                    <div class="col-sm-8 text-dark fs-6">@Model.ProductCount</div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>